body {
  // sass-lint:disable-block no-vendor-prefixes
  position: relative;
  box-sizing: border-box;
  background-color: $background;
  font-family: $font-serif;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $black;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  &--footer {
    align-items: flex-start;
    @include mq(medium) {
      flex-direction: row;
    }
  }
  &--narrow {
    max-width: ($max-width / 2);
    text-align: center;
  }
}
