a {
  text-decoration: none;
  transition: color $transition__speed $transition__timing;
}

h3 {
  text-transform: uppercase;
  font-family: $font-sans;
  font-weight: $font-weight--bold;
  font-size: 1.125rem;
  margin-bottom: $content-margin;
}
