{% extends "layout.twig" %}

{% block content %}
  <section class="space">
    <p>Image</p>
  </section>
	<section class="space" id="about">
	  <p>About</p>
	</section>
  <section class="space">
    <p>Image</p>
  </section>
  <section class="space" id="ethos">
	  <p>Ethos</p>
	</section>
  <section class="space">
    {% for photo in ig_feed.data %}
      <a href="{{photo.link}}">
        <img src="{{photo.images.thumbnail.url}}" alt="ovbcycling on Instagram">
      </a>
    {% endfor %}
  </section>
  <section class="space" id="racing">
	  <p>Racing</p>
	</section>
  <section class="space">
	  <p>Image</p>
	</section>
  <section class="space">
	  <p>Image</p>
	</section>
  <section class="space stats" id="stats">
	  <div class="js--stat stats__item">265</div>
    <div class="js--stat stats__item">2340</div>
    <div class="js--stat stats__item">8665</div>
    <div class="js--stat stats__item">12</div>
    <div class="js--stat stats__item">345</div>
    <div class="js--stat stats__item">8560</div>
    <div class="js--stat stats__item">4678</div>
    <div class="js--stat stats__item">236</div>
	</section>
  <section class="space" id="membership">
	  <p>Membership</p>
	</section>
  <section class="space">
	  <p>How we ride</p>
	</section>
{% endblock %}
