.space {
  display: flex;
  align-items: center;
  min-height: calc(100vh - #{$nav-height});
  padding: $content-margin;
  @include mq(medium) {
    padding: ($content-margin * 3) $content-margin;
  }
  &--natural {
    min-height: 0;
    padding: 0;
    justify-content: center;
  }
  &--dark {
    background: $background--dark;
    color: $white;
  }
  &--mid {
    background: $background--mid;
  }
  &--kit {
    @include mq(medium) {
      align-items: flex-start;
      min-height: 900px;
      background-image: url('../img/kit-bg.png');
      background-position: bottom right;
      background-repeat: no-repeat;
    }
  }
  &--bleed {
    padding: $content-margin 0;
    @include mq(medium) {
      padding: ($content-margin * 3) $content-margin;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  &--footer {
    align-items: flex-start;
    @include mq(medium) {
      flex-direction: row;
    }
  }
  &--narrow {
    max-width: ($max-width / 2);
    text-align: center;
  }
  &--left {
    text-align: center;
    @include mq(medium) {
      max-width: ($max-width / 2);
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 ($content-margin * 6);
      text-align: left;
    }
  }
}
