.site-footer {
  background-color: $background--dark;
  color: $white;
  padding: $content-margin;
  @include mq(medium) {
    padding: ($content-margin * 3) $content-margin;
  }
  &__list {
    margin-bottom: ($content-margin * 2);
    @include mq(medium) {
      margin: 0;
    }
    dt {
      color: $type--off-white;
    }
    dd:not(:last-child) {
      margin-bottom: .5rem;
    }
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $ovb-green;
      }
    }
  }
  &__col-left {
    padding-right: 2rem;
  }
  &__col-right {
    @include mq(medium) {
      margin-left: auto;
      text-align: right;
    }
  }
}
