.image {
  &--logo {
    fill: $black;
    height: 50px;
  }
  &--diamond {
    fill: $ovb-grey;
    width: 100%;
    max-width: 150px;
    margin-top: $content-margin;
  }
  &--racing {
    fill: $ovb-grey;
    width: 100%;
    max-width: 250px;
    height: 32px; // TODO: Fix this magic number
    margin-top: $content-margin;
  }
}
