.ig-grid {
  display: grid;
  grid-template-columns: $gram-width;
  grid-gap: $content-margin;
  margin-top: $content-margin;
  @include mq(medium) {
    grid-template-columns: repeat(2, $gram-width);
  }
  @include mq(large) {
    grid-template-columns: repeat(3, $gram-width);
  }
  &__item {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    @include mq(large-max) {
      &:last-child {
        display: none;
      }
    }
  }
  &__image {
    min-height: 100%;
  }
}

.spinner {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: .25rem solid $spinner--track;
  border-top-color: $spinner;
  margin-top: $content-margin;
  animation: spin .75s infinite linear;
}

.load-more-grams {
  display: none;
  border: 1px solid $ovb-green;
  background: $white;
  color: $ovb-green;
  font-family: $font-sans;
  text-transform: uppercase;
  padding: ($content-margin / 2) $content-margin;
  margin-top: $content-margin;
  cursor: pointer;
  @include mq(medium) {
    margin-top: ($content-margin * 2);
  }
}
