.main-menu {
  display: none;
  position: sticky;
  top: 0;
  height: $nav-height;
  background-color: $white;
  justify-content: center;
  align-items: center;
  font-family: $font-sans ;
  font-weight: 600;
  z-index: 1;
  @include mq(small) {
    display: flex;
  }
  &__menu {
    list-style: none;
  }
  &__item {
    display: inline;
    margin: 0 1.25rem;
    text-transform: uppercase;
  }
  &__link {
    text-decoration: none;
  }
}
