$black: #444444;
$white: #fefefe;

$background: $white;
$background--dark: #302e2f;
$background--mid: #f2f2f1;

$type--off-white: #b4b4b4;

$spinner: rgb(30, 30, 30);
$spinner--track: rgba($spinner, .25);

$ovb-green: #29f558;
$ovb-purple: #878bfc;
$ovb-blue: #3aaffc;
$ovb-grey: #a1a1a1;
