---
layout: 'main'
---

<section class="photo-section photo-section__vh">
  <div class="title-container">
    <h1>The pace is the pace</h1>
  </div>
  <picture>
    <source srcSet="/img/ovb-1.avif" media="(min-width: 640px)" type="image/avif" />
    <source srcSet="/img/ovb-1.webp" media="(min-width: 640px)" type="image/webp" />
    <source srcSet="/img/ovb-1@0.5x.avif, /img/ovb-1.avif 2x" type="image/avif" />
    <source srcSet="/img/ovb-1@0.5x.webp, /img/ovb-1.webp 2x" type="image/webp" />
    <img src="/img/ovb-1.jpg" alt="" />
  </picture>
</section>

<section class="site-section" id="about">
  <div class="site-section__inner">
    <h2 class="green">About</h2>
    <p>
      &Oslash;VB is a cycling club based in
      Nottingham, United Kingdom but don’t feel constrained by location. We
      have members all over Europe and beyond, but tend to ride in the Vale
      of Belvoir&mdash;that’s pronounced ‘beaver’ (for continental reasons).
      Formed in 2014, we have grown and flourished and are now more a family
      than a club, where friends come together to ride, race and socialise;
      all for the common good. Welcome to &Oslash;VB.
    </p>
    <svg class="icon--diamond" aria-hidden="true">
      <use xlink:href="img/icons.svg#diamond"></use>
    </svg>
  </div>
</section>

<section class="photo-section">
  <picture>
    <source srcSet="/img/ovb-2.avif" media="(min-width: 640px)" type="image/avif" />
    <source srcSet="/img/ovb-2.webp" media="(min-width: 640px)" type="image/webp" />
    <source srcSet="/img/ovb-2@0.5x.avif, /img/ovb-2.avif 2x" type="image/avif" />
    <source srcSet="/img/ovb-2@0.5x.webp, /img/ovb-2.webp 2x" type="image/webp" />
    <img src="/img/ovb-2.jpg" alt="" />
  </picture>
</section>

<section class="site-section" id="ethos">
  <div class="site-section__inner">
    <h2 class="grey">Ethos</h2>
    <p>
      &Oslash;VB is a core of riders with serious miles under our collective belts
      and the determination to ‘do better’. We are both modernists and
      traditionalists. We have taken all that is good in within the
      established club format but pioneered new ideas and ways of thinking.
      Style is very important to us&mdash;but what’s more important is substance. We
      plan to examine the detail in everything we do to see where and how we
      can improve. We embrace all kinds of techno-wizardry but we’re very
      careful to let spirit drive us forward not stats. It’s all about going
      that little bit further&mdash;taking longer strides&mdash;to achieve something
      really worth being involved with: a disciplined road cycling club riding
      in safe group sizes, where riders can thrive and learn.
    </p>
  </div>
</section>

<section class="photo-section">
  <picture>
    <source srcSet="/img/ovb-3.avif" media="(min-width: 640px)" type="image/avif" />
    <source srcSet="/img/ovb-3.webp" media="(min-width: 640px)" type="image/webp" />
    <source srcSet="/img/ovb-3@0.5x.avif, /img/ovb-3.avif 2x" type="image/avif" />
    <source srcSet="/img/ovb-3@0.5x.webp, /img/ovb-3.webp 2x" type="image/webp" />
    <img src="/img/ovb-3.jpg" alt="" />
  </picture>
</section>

<section class="site-section" id="racing">
  <div class="site-section__inner">
    <h2 class="purple">Racing</h2>
    <p>
      The race team is a key part of our club with everybody taking an
      active part in the running of our successful race series. Race team members are offered high levels of
      support to reflect their levels of commitment&mdash;whatever is put in is
      matched with a focused coaching programme and regular training
      sessions. In our first full season &Oslash;VB Racing finished top in the East
      Midland rankings with multiple race wins and podiums throughout the
      campaign. We aim to win, but we want to have a great time along the
      way.
    </p>
    <p>
      For more information contact
      <a href="mailto:{{ site.email.racing }}">{{ site.email.racing }}</a>
    </p>
    <svg class="icon--racing" aria-hidden="true">
      <use xlink:href="img/icons.svg#racing"></use>
    </svg>
  </div>
</section>

<section class="photo-section">
  <picture>
    <source srcSet="/img/ovb-4.avif" media="(min-width: 640px)" type="image/avif" />
    <source srcSet="/img/ovb-4.webp" media="(min-width: 640px)" type="image/webp" />
    <source srcSet="/img/ovb-4@0.5x.avif, /img/ovb-4.avif 2x" type="image/avif" />
    <source srcSet="/img/ovb-4@0.5x.webp, /img/ovb-4.webp 2x" type="image/webp" />
    <img src="/img/ovb-4.jpg" alt="" />
  </picture>
</section>

<section class="site-section" id="membership">
  <div class="site-section__inner">
    <h2 class="blue">Membership</h2>
    <p>
      &Oslash;VB is a compact and personable club of around 60 members (and we’re
      determined to keep it that way). In terms of whether people are
      suitable for our club, we require members to be safe, fit and
      progressive; &Oslash;VB is not a club for beginners. All members are expected
      to own full club kit and wear it on all club rides. Each membership
      application is treated on a case-by-case basis and subject to approval
      by the committee.
    </p>
    <p>
      For more information contact
      <a href="mailto:{{ site.email.membership }}">{{ site.email.membership }}</a>
    </p>
  </div>
</section>

<section class="site-section site-section--light site-section--column">
  <h2 class="green">How we ride</h2>
  <div class="how-grid">
    <div>
      <svg class="icon icon--purple" aria-hidden="true">
        <use xlink:href="img/icons.svg#people"></use>
      </svg>
      <h3>Twelve is enough</h3>
      <p class="small">
        If there are more than 12 riders we split into two groups. There are
        enough roads out there not to get bored. We split, that's it.
      </p>
    </div>
    <div>
      <svg class="icon icon--blue" aria-hidden="true">
        <use xlink:href="img/icons.svg#speedometer"></use>
      </svg>
      <h3>The pace is the pace</h3>
      <p class="small">
        If the ride states ‘18mph’ that’s how you should ride it. The pace
        can pick up over the last ten miles but only if everyone agrees to
        it.
      </p>
    </div>
    <div>
      <svg class="icon icon--green" aria-hidden="true">
        <use xlink:href="img/icons.svg#thumbsdown"></use>
      </svg>
      <h3>Go smash somebody else up</h3>
      <p class="small">
        We’re riding for ourselves, each other and the club. By smashing
        your fellow clubmate up you’re not helping anyone. This is heavily
        frowned upon.
      </p>
    </div>
    <div>
      <svg class="icon icon--grey" aria-hidden="true">
        <use xlink:href="img/icons.svg#setsquare"></use>
      </svg>
      <h3>Neat and tidy</h3>
      <p class="small">
        We ride in pairs and single-out when necessary. It’s safe, ordered
        and efcient. Three-abreast is a serious no-no.
      </p>
    </div>
    <div>
      <svg class="icon icon--green" aria-hidden="true">
        <use xlink:href="img/icons.svg#speech"></use>
      </svg>
      <h3>Communication is key</h3>
      <p class="small">
        The riders in front are your eyes&mdash;they pass critical information
        down the line. It’s good to talk.
      </p>
    </div>
    <div>
      <svg class="icon icon--blue" aria-hidden="true">
        <use xlink:href="img/icons.svg#pin"></use>
      </svg>
      <h3>The devil is in the detail</h3>
      <p class="small">
        When posting a ride, say it as it is&hellip; steady can never mean
        full gas.
      </p>
    </div>
    <div>
      <svg class="icon icon--purple" aria-hidden="true">
        <use xlink:href="img/icons.svg#cup"></use>
      </svg>
      <h3>Off to the races</h3>
      <p class="small">
        We’re all here to become stronger, more capable riders.Social and
        training rides are not races. Races are races. If you can’t help but
        ruin the party, you’ll be shown the door.
      </p>
    </div>
    <div>
      <svg class="icon icon--blue" aria-hidden="true">
        <use xlink:href="img/icons.svg#lights"></use>
      </svg>
      <h3>Jumping red lights</h3>
      <p class="small">
        We just don’t do this. It’s dangerous and will give the club a bad
        name.
      </p>
    </div>
    <div>
      <svg class="icon icon--grey" aria-hidden="true">
        <use xlink:href="img/icons.svg#jersey"></use>
      </svg>
      <h3>Get your kit on</h3>
      <p class="small">
        Our kit says a lot about us&mdash;that we’re distinctive and bold. Wear
        it with pride on every club ride.
      </p>
    </div>
  </div>
</section>
