{% if menu %}
	<ul>
	{% for item in menu %}
		<li>
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "menus/main-menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
